<a href="https://colab.research.google.com/github/MEGHANA112-CREATOR/BDA_ICP1/blob/main/ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#INPUT STRING
s=list("python")

#delete (p and o)
s.remove('p')
s.remove('o')

#reverse
s.reverse()

#print
result="".join(s)
print(result)

nhty

In [4]:
# Take two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Undefined")

Enter first number: 12
Enter second number: 3
Addition: 15
Subtraction: 9
Multiplication: 36
Division: 4.0

In [5]:
sentence = input("Enter a sentence: ")
new_sentence = sentence.replace("python", "pythons")
print(new_sentence)

Enter a sentence: I love playing with python
I love playing with pythons

In [6]:
score = int(input("Enter class score: "))
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print("Grade:", grade)

Enter class score: 94
Grade: A

In [7]:
x = [23, 'Python', 23.98]
print(x)
print([type(i) for i in x])

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [8]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Length of IT_companies
print("Length:", len(IT_companies))

# Add single company
IT_companies.add('Twitter')

# Insert multiple companies
IT_companies.update(['Tesla', 'Netflix'])
print("After adding:", IT_companies)

# Remove a company
IT_companies.remove('Google')
# IT_companies.discard('Google')

# Join A and B
print("Union:", A.union(B))

# Intersection
print("Intersection:", A.intersection(B))

# Subset
print("A subset of B?", A.issubset(B))

# Disjoint sets
print("A and B disjoint?", A.isdisjoint(B))

# Symmetric difference
print("Symmetric difference:", A.symmetric_difference(B))

# Delete sets
del A
del B

# Convert ages to set
ages_set = set(age)
print("Length of list:", len(age))
print("Length of set:", len(ages_set))

Length: 7
After adding: {'Facebook', 'Tesla', 'Oracle', 'Amazon', 'Google', 'Twitter', 'Apple', 'Netflix', 'IBM', 'Microsoft'}
Union: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection: {19, 20, 22, 24, 25, 26}
A subset of B? True
A and B disjoint? False
Symmetric difference: {27, 28}
Length of list: 8
Length of set: 5